.content-wrapper {
  width: 100%;
}

.container {
  padding: 50px;
}

.container > h2 {
  margin: 20px 0;
}

.wrapper-image {
  text-align: center;
}

.wrapper-image > img {
  height: 400px;
}

.title-content {
  font-weight: bold;
  margin-bottom: 10px;
}

.syntak-wrapper {
  background-color: #2d2d2d;
}

.separator {
  margin: 15px 0;
}

.blue {
  color: blue;
}